.gif {
    font-size: 5px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    margin: 0 10px;
}

.gif:hover {
    cursor: pointer;
}

.imgGif {
    width: min-content;
    height: 10rem;
}

